<header>

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('../../../../assets/Background_home.jpg');
      background-size: 100%; height: 800px;;
    "
  >
    <div class="mask" style=" background-color: var(--ColorSB); opacity: 75%; border-radius: 20px;" class="align-items-center">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div style="color:var(--ColorDB)">
          <h1 class="mb-3">Bienvenido {{nombre}}!! </h1>
          <h4 class="mb-3">Ahora estas en  MOREUSE</h4>
          <button class="btn btn-primary" href="/" role="button" >Explorar Sitio</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
